.container {
  max-width: 1280px;
  margin: 0 auto;
}

header {
  background-color: #444;
  width: 100%;
  padding: 20px;
}

header h1 {
  font-size: 2.5rem;
}

main {
  flex-grow: 1;
  width: 100%;
  padding: 60px 0;

  display: flex;
  flex-flow: column nowrap;
  gap: 60px;
}

main div p {
  line-height: 1.375rem;
}

footer {
  background-color: #444;
  width: 100%;
  text-align: right;

  padding: 20px;
}
